.App {
  max-width: 900px;
  margin: auto;
}
.subtitulo{
  font-size: 20px;
  margin: 0 0 20px 0;
}

.linha {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

h1 {
  margin: 21px 0 15px 0;
  text-align: center;
}

.legenda{
  display: flex;
  justify-content: space-between;
}

.legenda-item{
  margin-left: 5px;
}

